img.icon_header {
    height: 47px;
    object-fit: contain;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_input {
    width: 55%;
    border: 1px solid black;
    border-radius: 1em;
    margin: auto;
}

.header_input>input {
    width: 95%;
    height: 100%;
    border: none;
    border-radius: 1em;
}

footer {
    background-color: #0D021A;
    text-align: center;
    font-size: 12px;
    padding: 10px 10px 0px 10px;
    width: 100%;
    margin-top: 20px;
    bottom: -295px;
    position: relative;
}

body {
    background-color: #0D021A;
}

.NavBar {
    background-color: #1e0035;
    padding: 0px 70px 0px 70px;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

img.icon-header {
    width: 110px;
}

.right-nav {
    margin: 0px;
    float: none;
}

.navbar-item {
    font-size: 20px;
    margin: 0px;
    margin-right: 70px;
}

.signout-button {
    font-size: 20px;
    background-color: #17a2b8;
    width: 100%;
}

.playlist-table {
    margin: 5px 3px;
    background-color: #0D021A;
    text-align: center;
}

.landing {
    margin: 5px 30px;
    width: 75%;
    margin: auto;
}

ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

.userInfo {
    font-size: 20px;
    padding: 4px;
}

.dropdown-menu {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    top: 60px;
    border-radius: 20px;
}

.editUserInfo-button {
    font-size: 20px;
    width: 100%;
}

.create-playlist-table {
    font-size: 15px;
    font-weight: lighter;
    margin: px;
}

.create-playlist-table input {
    height: 40px;
    font-size: 20px;
}

.create-playlist-table select {
    height: 40px;
    font-size: 20px;
}

.search-bar {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.edit-myplaylist-item {
    border-radius: 0.25em;
    color: white;
    height: 101px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    margin: 10px 0px;
    width: 100%;;
}

.edit-myplaylist-item p{
    color: white;
}

.edit-myplaylist p {
    font-size: 20px;
    color: white;
}

.videoplayer-video-title {
    color: white;
    font-size: 20px;
    margin: 10px 0px;
}

.right-nav>li {
    margin: auto;
}

.playlist-info {
    margin: 20px 20px;
}

.button-add-playlist {
    font-size: xxx-large;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    border-radius: 50%;
    padding: 0px;
}

.dropdown-toggle::after{
    display: none;
}
.dropup-toggle::after{
    display: none;
}